body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
section {
  margin: 0 auto;
  width: 1200px;
}
a {
 color: inherit; 
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 62px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 16px;
  text-decoration: none;
}
.contacts__phone {
  text-decoration: none;
  font-style: normal;
  font-size: 26px;
  margin-bottom: 4px;
}
.contacts__info {
  font-size: 12px;
  font-style: normal;
  text-decoration-line: underline;
  margin-top: -4px;
}
header {
  height: 120px;
  position: relative;
  margin-bottom: 90px;
}
.logo {
  display: block;
  position: absolute;
  left: 0px;
  top: 37px;
}
.menu {
  position: absolute;
  top: 39px;
  left: 419px;
}
.contacts {
  position: absolute;
  top: 31px;
  left: 949px;
  text-align: right;
}
footer {
  position: relative;
}
.network {
  position: absolute;
  top: 34px;
  left: 710px;
}
.network__item {
  display: inline-block;
  vertical-align: middle;
}
.hello {
  position: relative;
  width: 680px;
  margin-bottom: 186px;
  margin-left: 0;
}
.hello__title {
  font-size: 65px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.1;
  margin-bottom: 20px;
}
.hello__text {
  font-size: 21px;
  margin-bottom: 74px;
}
.button {
  background: #8F00FF;
  border-radius: 5px;
  padding: 19px 41px;
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
.title {
  font-size: 39px;
  position: relative;
  margin-bottom: 50px;
  color: #ffffff;
}
.offers {
  position: relative;
  color: #000000;
  margin-left: 0px;
  margin-bottom: 122px;
}
.offers__item {
  display: inline-block;
  vertical-align: middle;
  width: 328px;
  margin-right: 25px;
  background: #ffffff;
  border-radius: 5px;
  min-height: 450px;
}
.maincontent {
  width: 1200px;
  margin: 0 auto;
}
.offers__list {
  display: inline-block;
}
.offers__features {
  height: 273px;
}
.offers__feature-icon {
  width: 328px;
  margin-bottom: 27px;
}
.offers__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  width: 280px;
  margin-left: 20px;
  color: #000000;
  position: absolute;
  top: 283px;
}
.offers__icon {
  left: 328px;
  top: 7px;
  position:absolute;
}
.offets__img {
  width: 328px;
}
.offers__feature-icon {
  Width: 26px;
  Height: 26px;
  top: 336px;
  position: absolute;
  left: 25px;
}
.button__offers {
  background: #8F00FF;
  border-radius: 5px;
  padding: 18px 33px;
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  position: relative;
  top: 220px;
  left: 21px;
}
.offers__feature-text {
  top: 338px;
  position: absolute;
  left: 62px;
  font-size: 16px;
}
.offers__feature-quest {
  Width: 26px;
  Height: 26px;
  top: 336px;
  position: absolute;
  left: 187px;
}
.offers__feature-question {
  top: 338px;
  position: absolute;
  left: 224px;
  font-size: 16px;
}
.offers__text {
  top: 373px;
  position: absolute;
  left: 19px;
  width: 296px;
  font-size: 14px;
  line-height: 21px;
}
.button__question {
  position: absolute;
    background: #ffffff;
    border-radius: 5px;
    padding: 14px 25px;
    color: #8F00FF;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    top: 429px;
    width: 41px;
    height: 12px;
    left: 22px;
    font-size: 13px;

}
