body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.offers__list:last-child {
  margin-right: 0px;
}
section {
  margin: 0 auto;
  width: 1200px;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
 color: inherit; 
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
p {
    margin-top: 0;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    margin-bottom: 22px;

}
.menu__container {
  margin-bottom: 15px;
}
.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 62px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-size: 16px;
  text-decoration: none;
}
.contacts__phone {
  text-decoration: none;
  font-style: normal;
  font-size: 26px;
  margin-bottom: 4px;
}
.contacts__info {
  font-size: 12px;
  font-style: normal;
  text-decoration-line: underline;
  margin-top: -4px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 196px;
}
header {
  padding-top: 26px;
  /*margin-bottom: 30px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__col {
  display: flex;
  align-items: center;
}
.header__col--align--right {
  justify-content: flex-end;
  margin-right: 62px;
}
.logo {
  display: block;
  margin-right: 261px;
}
.contacts {
  text-align: right;
}
.section__about {
  margin-bottom: -7px;
}
.section {
  margin-bottom: 127px;
}
.section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;;
  color: #ffffff;
  margin-bottom: 50px;
  display: inline-block;
}
.offers {
  display: flex;
  justify-content: space-between;
  width: 1140px;
}
.offers__item {
  min-height: 449px;
  background: #FFFFFF;
  border-radius: 5px;
  width: calc(100%/3 - 18px);
  display: flex;
  flex-direction: column;
}
.offers__content {
  padding: 0px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.offers__item:last-child {
  margin-right: 0px;
}
.offers__header {
  min-height: 144px;
  margin-bottom: 33px;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}
.offers__header-it {
    min-height: 144px;
    margin-bottom: 33px;
    background: #150A18;
    border-radius: 5px 5px 0px 0px;
}
.music__img {
  width: 100%;
}
.offers__img-back {
  margin: 10px 26px 2px;
}
.offers__img-it {
  margin: 1px 20px 0px 21px;
}
.offers__header-back {
    min-height: 144px;
    margin-bottom: 33px;
    background: #010101;
    border-radius: 5px 5px 0px 0px;
}
.offers__title {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 22px;
}
.offers__time-img {
  margin-right: 11px;
}
.offers__time-text {
    color: #666666;
}
.offers__times {
  display: flex;
  width: 100%;
  margin-bottom: 21px;
  justify-content: space-between;
}
.offers__time-info {
  display: flex;
  margin-right: 25px;
}
.offers__times:last-child {
  margin-right: 0;
}
.network {
  margin-right: 70px;
}
.network__item {
  display: inline-block;
  vertical-align: middle;
}
.hello {
  position: relative;
  width: 52%;
  margin-bottom: 188px;
  margin-left: 0; 
}
.hello__title {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.1;
  margin-bottom: 9px;
  padding: 10px 0;
}
.hello__text {
  font-size: 21px;
  margin-bottom: 74px;
}
.button {
  background: #fff;
  border-radius: 5px;
  padding: 19px 41px;
  color: #8F00FF;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border: 1px solid #8F00FF
}
.button:hover {
  background: #8F00FF;
  color: #FFFFFF;
}
.title {
  font-size: 39px;
  position: relative;
  margin-bottom: 50px;
  color: #ffffff;
}
.title__game {
  font-size: 38px;
  position: relative;
  margin-bottom: 52px;
  color: #ffffff;
  line-height: 48px;
}
.back__png {
  background: #010101;
  width: 362px;
  height: 144px;
}
.it__png {
    background: #150A18;
    width: 362px;
    height: 144px;
}
.maincontent {
  width: 1200px;
  margin: 0 auto;
}
.odders__text {
    top: 371px;
    position: absolute;
    left: 410px;
    width: 296px;
    font-size: 14px;
    line-height: 21px;
}
.offets__img {
  width: 360px;
}
.button__offers {
  background: #8F00FF;
  border-radius: 5px;
  padding: 19px 33px;
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  display: flex;
  width: 42%;
  margin-bottom: 28px;
  margin-top: auto;
}
.button__question {
    position: absolute;
    background: #ffffff;
    border-radius: 5px;
    padding: 14px 25px;
    color: #8F00FF;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    top: 429px;
    width: 41px;
    height: 12px;
    left: 22px;
    font-size: 13px;

}
.game__item {
    width: 598px;
    /*flex: 1;*/
    vertical-align: top;
    margin-right: 2%;
}
.single-game{
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.game__item:last-child {
  margin-right: 0px;
}
.single-game__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.game {
  margin-bottom: 148px;
  display: flex;
  justify-content: space-between;
}
.single-game__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 17px 29px 6px;
    min-height: 76px;
    margin-bottom: 6px;
}
.single-game__date {
  font-size: 14px;
  line-height: 45px;
  margin-bottom: 12px;
}
.single-game__name {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.single-game__text {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 17px;
  color: #FFFFFF;
  width: 90%;
}
.game__list {
  margin-bottom: 53px;
  display: flex;
  justify-content: space-between;
  width: 94%;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .paginator__link:hover {
  color: #FFFFFF;
  background: #8F00FF;
}
.pagination--theme--black {
  color: #000000;
}
.pagination--theme--black .paginator__item--active .paginator__link {
 color: #FFFFFF;
 background: #8F00FF;
}
.pagination--theme--black .paginator__link:hover {
  color: #FFFFFF;
  background: #8F00FF;
}
.pagination__list {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.pagination__info {
    position: relative;
    right: 27px;
}
.paginator__item {
  text-align: center;
}
.paginator__link {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}
.paginator__item--active .paginator__link {
  background: #8F00FF;
}
.about::before {
  content: "";
  display: block;
  width: 484px;
  height: 500px;
  background: url(./img/kviz_pliz__nizhnii_novgorod_1_qg_large\ 1.png) center center/ cover no-repeat;
  border-radius: 5px;
}
.about {
  display: flex;
}
.about__desc {
    padding: 77px 98px;
    min-height: 455px;
    margin-left: -236px;
    margin-top: 19px;
    border-radius: 5px;
    position: relative;
    display: flex;
    max-width: 946px;
}
.about__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 122px 180px;
    width: 883px;
}
.about__desc-info{
    font-size: 16px;
    line-height: 27px;
    min-height: 133px;
    color: #FFFFFF;
}
.about__title {
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
    margin-bottom: 37px;
}
.about__desc-text {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 43px;
  width: 501px;
}
.about__desc-text :last-child {
  margin-bottom: 0;
}
.footer-container__section {
  height: 154px;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner-footer {
  margin-top: auto;
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__col--align--right {
  align-items: flex-end;
  display: flex;
  margin-right: 60px;
}
.contacts__info {
  font-size: 11px;
  line-height: 15px;
  color: #9A9A9A;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}
.network__link {
  width: 36px;
  height: 36px;
  display: block;
  text-decoration: none;
}
.network__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.network__item:last-child {
  margin-right: 0;
}
.footer-container__content {
  border-top: 1px solid #FFFFFF;
}
.footer-inner__section {
  height: 132px;
}
.main-page-wrapper {
  background: url("./img/фон1.png") center top no-repeat, url("./img/фон2.png") center bottom 168px no-repeat; 
  
}
.logo__footer {
  display: block;
  position: absolute;
  left: 0px;
  top: 57px;
}
.menu__footer {
    position: absolute;
    top: 60px;
    left: 287px;
}
.footer__container {
  margin-top: auto;
}

/*game page*/

.top-line {
  min-height: 412px;
  background: url(./img/nbgB77C1HAg\ 1.png) left 10% ;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 27px;
  filter: grayscale(100%);
}
.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 1;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
}
.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}
.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;
}
.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.page-content {
  background: #F2F2F2;
  color: #303030;
  padding: 97px 0;
}
.services {
  margin-bottom: 68px;
}
.service {
  display: flex;
  margin-bottom: 42px;
}
.services__img {
    width: 38%;
    margin-right: 5%;
    border-radius: 5px;
}
.service__img-elem {
   border-radius: 5px;
   width: 100%;
}
.service__content {
  flex: 1;
}
.service__title {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
    padding: 10px 0;
}
.service__desc {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 33px;
}
.services__img--back {
  background: url(./img/Rectangle\ 4\ \(1\).png);
  padding: 75px 22px;
}
.inner-section {
  background: #ffffff;
  color: #1A1B1E;
  padding: 76px 0;
  width: 100%;
}
.inner-section--bg--grey {
  background: #F4F5F5;
}
.inner-section__title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 64px;
}
.partners {
  display: flex;
  flex-wrap: wrap;
}
.partners__item {
  margin-left: 44px;
  margin-bottom: 21px;
}
.partners__item:nth-child(4n + 1) {
  margin-left: 0;
}
.partners__link {
  text-decoration: none;
  display: flex;
  width: 249px;
  height: 100px;
  align-items: center;
  justify-content: center;
}