@keyframes bounce {
  from {
    transform: translateY(0);;
  }
  20% {
    transform: translateY(-35px);
  }
  35% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-17px);
  }
  75% {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}