.network {
  margin-right: 70px;
}
.network__item {
  display: inline-block;
  vertical-align: middle;
}
.network__link {
  width: 36px;
  height: 36px;
  display: block;
  text-decoration: none;
}
.network__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.network__item:last-child {
  margin-right: 0;
}