.offers__list:last-child {
  margin-right: 0px;
}
.offers {
  display: flex;
  justify-content: space-between;
  width: 1140px;
}
.offers__item {
  min-height: 449px;
  background: #FFFFFF;
  border-radius: 5px;
  width: calc(100%/3 - 18px);
  display: flex;
  flex-direction: column;
}
.offers__content {
  padding: 0px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.offers__item:last-child {
  margin-right: 0px;
}
.offers__header {
  min-height: 144px;
  margin-bottom: 33px;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}
.offers__header-it {
    min-height: 144px;
    margin-bottom: 33px;
    background: #150A18;
    border-radius: 5px 5px 0px 0px;
}
.offers__img-back {
  margin: 10px 26px 2px;
}
.offers__img-it {
  margin: 1px 20px 0px 21px;
}
.offers__header-back {
    min-height: 144px;
    margin-bottom: 33px;
    background: #010101;
    border-radius: 5px 5px 0px 0px;
}
.offers__title {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 22px;
}
.offers__time-img {
  margin-right: 11px;
}
.offers__time-text {
    color: #666666;
}
.offers__times {
  display: flex;
  width: 100%;
  margin-bottom: 21px;
  justify-content: space-between;
}
.offers__time-info {
  display: flex;
  margin-right: 25px;
}
.offers__times:last-child {
  margin-right: 0;
}