.title {
  font-size: 39px;
  position: relative;
  margin-bottom: 50px;
  color: #ffffff;
}
.title__game {
  font-size: 38px;
  position: relative;
  margin-bottom: 52px;
  color: #ffffff;
  line-height: 48px;
}
.about__title {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  margin-bottom: 37px;
}
.page-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 1;
}
.service__title {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin-bottom: 20px;
  padding: 10px 0;
}
.review__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #1A1B1E;
  margin-bottom: 13px;
}
.separation__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
}
.form__controls-title {
  width: 38%;
  font-size: 18px;
  color: #1A1B1E;
}