body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
section {
  margin: 0 auto;
  width: 1200px;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
 color: inherit; 
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
p {
  margin-top: 0;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  margin-bottom: 22px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 196px;
}
.maincontent {
  width: 1200px;
  margin: 0 auto;
}
.main-page-wrapper {
  background: url("../img/1.png") center top no-repeat, url("../img/2.png") center bottom 168px no-repeat; 
}
.odders__text {
  top: 371px;
  position: absolute;
  left: 410px;
  width: 296px;
  font-size: 14px;
  line-height: 21px;
}